@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    position: relative;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #e6f0f2;
    background-repeat: repeat-x;
    background-size: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
}

#boxFormulario{
    position: absolute;
    width: 100%;
    height: 60%;
    
}

.formularios{
    width: 30%;
    height: 93%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   

}
.formularios input{
    width: 100%;
    height: 8%;
    margin-top: 1%;
    margin-bottom: 3%;

    background: #FFFCFC;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
}
.formularios label{
margin-right: auto;
font-size: 100%;
}

.formularios button{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

#inputPerfil{
    background: none !important;
    border: none !important;
}

.busquedas{
    width: 100%;
    height: 20%;
    position: absolute;
    align-items: center;
}

.busquedas input{
    width: 85%;
    height: 30%;
    margin-top: 1%;
    margin-bottom: 3%;

    float: left;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
    background: url(../iconos/buscar.png) no-repeat scroll 7px 7px #FFFCFC;
    padding-left: 30px;
}

.busquedas button{
    width: 5%;
    height: 30%;

    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 0.2%;
    margin-left: 2%;
    float: left;

    background: #295F9D;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#boxFormularioPregunta{

    position: absolute;
    margin-top: 5%;
    width: 100%;
    height: 60%;

}

#divTitulo{
    margin-left: 19%;
    font-size: 200%;
    margin-bottom: 1%;
}

#tituloFormulario{
    font-size:130%;
    
}

.formularioPregunta{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: left;

}

.formularioPregunta label{
    font-size: 100%;
    margin-left: 30%;
}

.formularioPregunta button{
    width: 10%;
    height: 10%;

    margin-bottom: 3%;
    margin-right:auto;
    margin-left: auto;
    float: left;

    background: #295F9D;
    border-radius: 10px;
    font-size: 100%;
    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.formularioPregunta input{
    width: 40%;
    height: 7%;
    margin-top: 0.1%;
    margin-left: 30%;
    margin-bottom: 0.5%;
    padding-left: 1%;
    display: inline-block;
    text-align: start;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFCFC;
    
}

#inputCuerpo{
    width: 40%;
    padding-top: 0%;
    height: 50%;
    margin-top: 0.1%;
    margin-left: 30%;
    margin-bottom: 0.5%;
}




