@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    position: relative;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #282828;
    background-repeat: repeat-x;
    background-size: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
    word-wrap: break-word;
}

label{
    color: white;
}

p{
    color: white;
}

h1{
    color: white;
}

/*
Codigo login.php y registro.php
*/

.boxFormulario{

    display: flex;
    margin-top: 0.5%;
    width: 100%;
}

.formularios{
    width: 30%;
    height: 93%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   

}
.formularios input{
    width: 100%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 3%;

    padding-left: 1%;
    font-size: 20px;
    background: #FFFCFC;

    box-sizing: border-box;
    border-radius: 5px;
}
.formularios label{
margin-right: auto;
font-size: 100%;
}


.formularios button{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #00B5AA;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

#inputPerfil{
    background: none !important;
    border: none !important;
    font-size: 18px;
}

#buttonIniciarSesion{
    margin-top: 5%;
    height: auto;
    padding: 2%;
    width: fit-content;
    background: #00B5AA;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size:medium;
    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonCrearCuenta{
    margin-top: 5%;
    padding: 2%;
    width: fit-content;
    background: #00B5AA;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size:medium;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonPublicarPregunta{
    margin-top: 5%;
    padding: 0.5% !important;
    height: fit-content !important;
    width: fit-content;
    background: #00B5AA;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size:medium;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


/*
Codigo busqueda.html
*/


.busquedas{
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
}

.busquedas input{
    width: 85%;
    height: 40%;
    margin-top: 1%;
    margin-bottom: 3%;

    float: left;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(../iconos/buscar.png) no-repeat scroll 4px 4px #FFFCFC;
    padding-left: 2%;
}

#buttonBuscar{
    width:fit-content;
    height: 40%;
    padding: 0.2%;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 0.2%;
    margin-left: 2%;
    float: left;

    background: #00B5AA;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/*
Codigo paginaFormularPregunta.php
*/


#boxFormularioPregunta{
    position: absolute;
    margin-top: 5%;
    width: 100%;
    height: 60%;
    
}

#divTitulo{
    width: 50%;
    font-size: 200%;
    margin-bottom: 1%;
    text-align: center;

}

#tituloFormulario{
    font-size:130%;
    
}

.formularioPregunta{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.formularioPregunta label{
    font-size: 100%;
}

.formularioPregunta input{
    width: 40%;
    height: 7%;
    margin-top: 0.1%;
    margin-bottom: 0.5%;
    padding-left: 1%;
    display: inline-block;
    text-align: start;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFCFC;
    
}

#inputCuerpo{
    width: 40%;
    padding-top: 0%;
    height: 50%;
    margin-top: 0.1%;
    margin-bottom: 0.5%;
}

#inputCuerpoRespuesta{
    width: 100%;
    height: 50px;
    margin-top: 0.1%;
    margin-bottom: 0.5%;
    border-radius: 10px;
}
/*
Codigo paginaPerfilUsuario.php
*/

#boxPerfil{

    width: 100%;
    height: 60%;
    position: absolute;
    margin-top: 10%;
}

#boxSuperior{
    position: flex;
    width: 60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;


}


#boxUsuario{
    position: relative;
    width: 33%;
    height: auto;
    margin-right: auto;
    margin-top: 1%;
   

    float: left;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    background-color:#404040;
    word-wrap: break-word;
    border-radius: 10px;


}

#boxUsuario img{
    width: 60%;
}

#boxUsuario h2{
    text-align: center;
    color: white;
}

#boxEstadistica{
    position: relative;
    width: 65%;
    height: 95%;
    margin-left: auto;

    margin-top: 1%;
    align-items: center;

  
}

#boxTextEstadisticas{
    align-items: center;
    text-align: center;


}

#text_estadisticas{
    position: relative;
    width: 100%;
    height: 10%;
    padding-right: 10%;

    justify-content: center;
    font-size: 100%;

    color: white;
    
    border-radius: 10px;

}

#boxReputacion{
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
 
 
    background-color: #404040;
    border-radius: 10px;
}

#boxPreguntas{
    
    position: flex;
    width: 32%;
    height: 74%;
    
    
 
   
    align-items: center;
    text-align: center;

}

#boxPreguntas h2{
    margin-top: 30%;
    color: white;

}


#boxRepu{
    position: flex;
    width: 32%;
    height: 74%;

    float: left;
    margin-top: 2%;
    margin-left: 1%;
    
    text-align: center;

}

#boxRepu h2{
    margin-top: 10%;
    color: white;

}

#boxRespuestas{
    position: flex;
    width: 32%;
    height: 74%;

    margin-left: 1%;
    float: right;
    display: left;
    border-radius: 10px;

    text-align: center;

}

#boxRespuestas h2{
    margin-top: 30%;
    color: white;

}

#boxTextMedallas{
    align-items: center;
    text-align: center;

}
.datos{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}
#text_medallas{
    position: relative;
    width: 80%;
    height: 10%;
    margin: auto;
    
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    
    color: rgb(247, 235, 235);
  
    border-radius: 10px;
}

#boxInferior{

    width: 60%;
    height: 60%;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#boxMedallas{
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: #404040;
    border-radius: 10px;
}

#boxBronce{
    display: flex;
    width: 33.3%;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#boxBronce p{
    width: 60%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F27641;
}

#boxPlata{
    display: flex;
    width: 33.3%;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#boxPlata p{
    width: 60%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #989898;
}

#boxOro{
    display: flex;
    width: 33.3%;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#boxOro p{
    display: flex;
    width: 60%;
    height: 20%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #E5E93D;
}



/*
pagina preguntas.html y resultados.html
*/

#boxPregunta{
    display: flex;
    width: 60%;
    height: 100%;
    

    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;

    color: white;
  
    border-radius: 10px;

    text-align: left;
    display: flex;
    flex-direction: column;
}


#boxTituloPreguntas{
    position: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 300%;
    display: flex;
    
    margin-bottom: 1%;  

}

#boxTituloPreguntas label{
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 100%;
}

#boxSubGrupo{
    display: flex;
    width: 100%;
    margin-left: 3%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
}

#boxSubGrupo label{
    font-size: 130%;
    float: left;
}

#buttonFormularPregunta{
    width: 30%;
    height: 40%;
    
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #00B5AA;
    margin-left: auto;
}

.preguntas{
    
    display: flex;
    margin-top: 0.5%;
    height: 100%;
    text-align: center;
}

.pregunta{
    width: 100%;
    margin-bottom: 1%;

    margin-top: 4%;
    background-color: #404040;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
   
}


.info{

    width: 80%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
   
}

.info a{
    
    text-decoration: none;
    width: 90%;
    font-size: 24px;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    color: white;

}

.info p{
    font-size: 16px;
    width: 90%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.formulador{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 100%;
    margin-right: 1%;
}
.formulador h2{
    margin-top: 2%;
    color: white;
}

.formulador img{
    padding-top: 3%;
    padding-bottom: 2%;
}

.formulador a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 117, 184);
    font-size: 100%;
}

.tags{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    font-weight: bold;
    margin-bottom: 1%;
}
.tag{
    text-decoration: none;
    width: 10% !important;
    margin-left: 1%;
    background-color: #cfcdcdc7;
    border-radius: 3px;
    padding: 0.5% !important;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 100%;
    color: white;
}

.btnPerfil{
    background: none;
    border:none;
    margin-top: 4%;
    color: white;
    font-weight: bold;
}

.boxTituloQuestion{

    position: flex;
    width: 100%;
    height: 20%;
    font-size: 250%;
    display: flex;
    margin-bottom: 2%;  
}
.boxTituloQuestion h1{
    font-weight: bold;
    font-size: 100%;
    width: 100%;
    color: white;
}

.visitas{
    background-color: rgb(230, 206, 127);
    padding-left: 1%;
    color: black;
}
.votos{
    margin-top: 1%;
    background: linear-gradient(to right, rgba(92,142,161,1) 0%, rgba(113,206,239,1) 0%, rgba(80,128,143,1) 0%, rgba(183,222,237,1) 100%);
    padding-left: 1%;
}
.numRespuestas{
    margin-top: 1%;
    font-size: larger;
}
.votosRespuesta{
    width: 99%;
    margin-top: 1%;
    background: linear-gradient(to right, rgba(92,142,161,1) 0%, rgba(113,206,239,1) 0%, rgba(80,128,143,1) 0%, rgba(183,222,237,1) 100%);
    padding-left: 1%;
}
.respuesta{
    display: flex;
    flex-direction: column;
    width: 97%;
    border-radius: 10px;

   
    margin-top: 4%;
    background-color: #404040;
    margin-right: 3%;
    margin-left: 3%;
}

#preguntaFormulada{
    margin-top: 5%;
    height: 80%;
    padding-bottom: 2%;
}
#preguntaFormulada div{
    text-align: center;
}

#preguntaFormulada textarea{
    width: 100%;
    height: 80%;
}
#buttonCrearCuentaResp{
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background: #00B5AA;
    padding: 1%;
}

.votos{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.votos h2{
    margin-right: 2%;
}

.voto{
    padding-top: 0.5%;
    justify-content: center;
    margin-right: 2%;
}

.voto input{
    width: 120%;
}

#todosUsuarios{
    margin-top: 4%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;


    flex-direction: row;
    justify-content: center;
    text-align: center;
    

}
.divUsuario{
    max-width: 20%;
    min-width: 15%;
    
    margin: 2%;
    text-align: center;
    align-items: center;
    align-content: center;
    
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    background-color: #404040;
    border-radius: 10%;
}
.datosPerfil{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    
}
#tag{
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #cfcdcdc7;
    width: 30%;
    font-weight: bold;
    color: white;
    
    
}

.nombreUsu{
    padding:0%;
    height: auto;
    width: auto;

    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
img{
   border-radius: 5%;
}

.busquedaUsu{
    width: 35%;
    
    align-items: center;
    display: flex;
    height: 10%;

}

#inputBuscarUsu{
    width: 60%;
    height: 40%;
    margin-top: 1%;
    margin-bottom: 3%;

    box-sizing: border-box;
    border-radius: 10px;
    
    padding-left: 5%;
}

#buttonBuscarUsu{
    width: 30%;
    height: 40%;

    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 2%;
   

    background: #00B5AA;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


/*
paginaPerfilUsuario

*/

.medallas{
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 32, 32);
    color:white;
    padding:1%;
    align-items: center;
    border-radius: 5px;
    margin-top: 2%;
    width: 40%;
}
.medallas label{
    margin-left: 10%;
}

.circuloBronce {
    margin-right: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F27641;
}
.circuloPlata {
    margin-right: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#989898;
}
.circuloOro {
    margin-right: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E5E93D;
}
#inputCorreoFallo, #inputPasswordFallo{
    width: 100%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 3%;

    padding-left: 1%;
    font-size: 20px;
    background: #f3c6c6;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 5px;
}

#error{
    font-size: 75px;
    text-align: center;
}