@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    position: relative;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #e6f0f2;
    background-repeat: repeat-x;
    background-size: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
}

/*
Codigo login.php y registro.php
*/

.boxFormulario{
    position: absolute;
    margin-top: 0.5%;
    width: 100%;
    height: 60%;
   
}

.formularios{
    width: 30%;
    height: 93%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   

}
.formularios input{
    width: 100%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 3%;

    padding-left: 1%;
    font-size: 20px;
    background: #FFFCFC;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
}
.formularios label{
margin-right: auto;
font-size: 100%;
}


.formularios button{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

#inputPerfil{
    background: none !important;
    border: none !important;
    font-size: 18px;
}

#buttonIniciarSesion{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonCrearCuenta{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonCrearCuenta{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonIniciarSesionRegi{
    margin-top: 5%;
    padding: 2%;
    width: 20%;

    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#buttonCrearCuentaRegi{
    margin-top: 5%;
    padding: 1%;
    width: 25%;
    font-size: 17px;
    background: #295F9D;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    border: none;

    /* identical to box height */

    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}



/*
Codigo busqueda.html
*/


.busquedas{
    width: 100%;
    height: 20%;
    position: absolute;
    align-items: center;
   
    
}

.busquedas input{
    width: 85%;
    height: 30%;
    margin-top: 1%;
    margin-bottom: 3%;

    float: left;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
    background: url(../iconos/buscar.png) no-repeat scroll 7px 7px #FFFCFC;
    padding-left: 30px;
}

.busquedas button{
    width: 5%;
    height: 30%;

    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 0.2%;
    margin-left: 2%;
    float: left;

    background: #295F9D;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;

    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/*
Codigo paginaFormularPregunta.php
*/


#boxFormularioPregunta{
    position: absolute;
    margin-top: 5%;
    width: 100%;
    height: 60%;
    
}

#divTitulo{
    width: 50%;
    font-size: 200%;
    margin-bottom: 1%;
    text-align: center;

}

#tituloFormulario{
    font-size:130%;
    
}

.formularioPregunta{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.formularioPregunta label{
    font-size: 100%;
}

.formularioPregunta button{
    width: 10%;
    height: 10%;

    margin-bottom: 3%;

    background: #295F9D;
    border-radius: 10px;
    font-size: 100%;
    /* identical to box height */

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.formularioPregunta input{
    width: 40%;
    height: 7%;
    margin-top: 0.1%;
    margin-bottom: 0.5%;
    padding-left: 1%;
    display: inline-block;
    text-align: start;

    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFCFC;
    
}

#inputCuerpo{
    width: 40%;
    padding-top: 0%;
    height: 50%;
    margin-top: 0.1%;
    margin-bottom: 0.5%;
}

/*
Codigo paginaPerfilUsuario.php
*/

#boxPerfil{

    width: 100%;
    height: 60%;
    position: absolute;
    margin-top: 10%;
}

#boxSuperior{
    position: flex;
    width: 60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    align-items: center;

}


#boxUsuario{
    position: relative;
    width: 20%;
    height: 100%;
    margin-right: auto;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 3, 250, 0.527);

}

#boxUsuario img{
    width: 60%;
}
#boxEstadistica{
    position: relative;
    width: 60%;
    height: 80%;
    margin-left: auto;
    float: right;
    margin-top: 3%;
    margin-right: 10%;


    align-items: center;
  
}

#boxTextEstadisticas{
    align-items: center;
    text-align: center;

}

#text_estadisticas{
    position: relative;
    width: 100%;
    height: 10%;
    margin: auto;
    margin-top: 2%;

    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100%;

    color: rgb(247, 235, 235);
    background-color: #295F9D;
    border-radius: 10px;

}

#boxReputacion{
    position: relative;
    width: 100%;
    height: 80%;
}

#boxPreguntas{
    
    position: flex;
    width: 32%;
    height: 74%;
    
    
    margin-top: 2%;
   
    align-items: center;
    text-align: center;

}

#boxPreguntas h2{
    margin-top: 30%;

}


#boxRepu{
    position: flex;
    width: 32%;
    height: 74%;

    float: left;
    margin-top: 2%;
    margin-left: 1%;
    
    text-align: center;

}

#boxRepu h2{
    margin-top: 10%;

}

#boxRespuestas{
    position: flex;
    width: 32%;
    height: 74%;

    margin-top: 2%;
    margin-left: 1%;
    float: right;
    display: left;

    text-align: center;

}

#boxRespuestas h2{
    margin-top: 30%;

}

#boxTextMedallas{
    align-items: center;
    text-align: center;

}
.datos{
    margin-top: 10%;
}
#text_medallas{
    position: relative;
    width: 80%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
    
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100%;
    
    color: rgb(247, 235, 235);
    background-color: #295F9D;
    border-radius: 10px;
}

#boxInferior{

    width: 60%;
    height: 40%;
    

    margin-left: auto;
    margin-right: auto;

    align-items: center;

    
}

#boxMedallas{
    width: 100%;
    height: 100%;
}

#boxBronce{
    position: flex;
    width: 32%;
    height: 74%;

    float: left;
    margin-top: 2%;
   

    text-align: center;

}

#boxBronce p{
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    background-color: rgba(219, 141, 23, 0.705);
}

#boxPlata{
    position: flex;
    width: 32%;
    height: 74%;

    float: left;
    margin-top: 2%;
    margin-left: 1%;
    
    text-align: center;

}

#boxPlata p{
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    background-color: rgba(192, 192, 192, 0.699);
}

#boxOro{
    position: flex;
    width: 32%;
    height: 74%;

    margin-top: 2%;
    margin-left: 1%;
    float: right;
    display: left;

    text-align: center;

}

#boxOro p{
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   
    background-color: rgba(255, 238, 4, 0.651);
}



/*
pagina preguntas.html y resultados.html
*/

#boxPregunta{
    width: 50%;
    height: 50%;
    margin-top: 6%;
    margin-right: auto;
    margin-left: auto;

}


#boxTituloPreguntas{
    position: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 300%;
    display: flex;
    
    margin-bottom: 1%;  

}

#boxTituloPreguntas label{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 100%;
}

#boxSubGrupo{
    position: flex;
    width: 100%;
    height: 70%;
    margin-left: 3%;
    margin-top: 4%;
}

#boxSubGrupo label{
    font-size: 130%;
    float: left;
}

#buttonFormularPregunta{
    width: 30%;
    height: 15%;
    

    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #295F9D;
    float: right;
}

.pregunta{
    width: 100%;
    margin-top: -100px;
    border: 2px solid black;
    margin-bottom: 2%;
    background-color: white;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
}
.formulador{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    width: 20%;
}