<div class="boxFormulario">
        
    <form id="busqueda" class="busquedas">


        <button id="buttonBuscar"> Buscar </button>
        <input id="inputBuscar" placeholder="Buscar por titulo/cuerpo de pregunta" ></input>
        

    </form>
</div>