<div class="boxFormulario">
        
    <form id="busqueda" class="busquedas" method="POST" action="/preguntas/busqueda">


        <input type="submit" id="buttonBuscar" value="Buscar"></input>
        <input id="inputBuscar" placeholder="Buscar por titulo/cuerpo de pregunta" name="Buscar"></input>
        

    </form>
</div>