<div class="boxFormulario">
        
    <form id="busqueda" class="busquedas">


        <input type="submit" id="buttonBuscar" name="Buscar" value="Buscar"></input>
        <input id="inputBuscar" placeholder="Buscar por titulo/cuerpo de pregunta" ></input>
        

    </form>
</div>