<div id="cabeceraLog">
    <div id="menu">

        <a href="/preguntas" class="opcion" role="button">Preguntas</a>
        <a href="paginaPreguntasSinResponder" class="opcion" role="button">Sin responder</a>
        <a href="/logout" class="opcion" role="button">Cerrar sesion</a>
     
    </div>

    <div>
        <img id="logo" src="/iconos/logo.png">
    </div>

    <div id="perfil">
        <img id="foto" src="/imagen/<%- imagen %>">
        <a href="/perfil/<%-correo%>"><%-usuario.Nombre%></a>
        <a href="/logout" class="opcion" role="button">Cerrar sesion</a>
    </div>
</div>