<!DOCTYPE html>
<html lang="en">
<head>
    <%-
         include("headers")
    %>
</head>
<body>
    <header>
        <%-  
        include("headerNoLogged")
        %>
    </header>

    <div id="boxFormulario">

        <form id="inicioSesion" class="formularios" method="POST" action="/procesarLogin">

            
            <label id = "textCorreo">Correo *</label>
            <input id="inputCorreo" name="correo"> </input>
           
            
            
            <label id = "textPassword">Contraseña *</label>
            <input id="inputPassword" name="password" type="password"> </input>
           
            <input id="buttonIniciarSesion" type="submit" value="Iniciar sesión"/>
            <a href="registro" id="buttonCrearCuenta" role="button">Crear Cuenta</a>
           
        </form>

    </div>
   

    
</body>
</html>