<!DOCTYPE html>
<html lang="es">
<head>
    <%-
    include("headers")
    %>
</head>
<body>
    <header>
    <%-
        include("headerLogged");
    %> 
    </header>
    
    <%-
        include("busqueda");
    %> 

    <%-
        include("resultados");
    %> 
    
</body>
</html>