
<div class="boxFormulario">

    <div id="boxPregunta">
        <div id="boxTituloPreguntas">
            <label>Preguntas sin responder</label>
        </div>
        
        <div id="boxSubGrupo">
            <label>preguntas</label>
            <a href="paginaFormularPregunta.php" id="buttonFormularPregunta" role="button">Formular pregunta</a>
        </div>
    </div>
    
</div>


        
