<!DOCTYPE html>
<html lang="en">
<head>
    <%-
         include("headers")
    %>
</head>
<body>
    <header>
        <%-  
        include("headerNoLogged")
        %>
    </header>

    <div id="boxFormulario">

        <form id="registro" class="formularios" method="POST" action="/registro">

            
            <label id = "textCorreo">Correo *</label>
            <input id="inputCorreo" name="emailUsuario"> </input>
           
            <label id = "textPassword">Contraseña *</label>
            <input id="inputPassword" type="password" name="password"> </input>

            <label id = "textPassword">Confirmar contraseña *</label>
            <input id="inputPassword" type="password" name="passwordConfirm"> </input>

            <label id = "textNombre">Nombre para mostrar*</label>
            <input id="inputNombre"  name="nombreMostrar"> </input>
           
            <label id = "textPerfil">Foto de perfil*</label>
            <input id = "inputPerfil" name="perfil" type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />


            <a href="login" id="buttonCrearCuentaRegi" role="button" type="submit">Crear cuenta</a>
            <a href="login" id="buttonIniciarSesionRegi" role="button">Iniciar sesion</a>
            
            
           
        </form>

    </div>
   

    
</body>
</html>